.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main > .container {
    padding: 60px 15px 0;
}
  
.footer {
    background-color: #f5f5f5;
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
  
code {
    font-size: 80%;
}
  
.portfolio {
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:30px;
    border-top-color: #4aaaa5;
    border-top: 2px solid #4aaaa5;
    overflow: auto;    
}

.image1 {
    background-image: url("../images/technics-q-c-300-200-1.jpg");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

.image2 {
    background-image: url("../images/technics-q-c-300-200-2.jpg");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

.image3 {
    background-image: url("../images/technics-q-c-300-200-3.jpg");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

.image4 {
    background-image: url("../images/technics-q-c-300-200-4.jpg");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

.image5 {
    background-image: url("../images/technics-q-c-300-200-9.jpg");
    background-repeat: no-repeat;
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

.imgtext {
    background-color: #4aaaa5;
    width: 300px;
    height: 50px;
    margin-top: 140px;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
